<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Simple Blog Post</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/blog.css">
    
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <h1>SimpleBlog</h1>
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/compose">
                    <li>Compose</li>
                </a>
                <a href="/about">
                    <li>About</li>
                </a>
                <a href="/contact">
                    <li>Contact Us</li>
                </a>
            </ul>
        </nav>
    </div>