<%- include('partials/header') %>

    <div class="blog-main-content" name="blog" value="blog1">
        <h1 class="content-title">
            <%= title %>
        </h1>
        <p class="content">
            <%= content %>
        </p>
    </div>
    </body>

    </html>