<%- include('partials/header') %>
<main>
    <div class="home">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore aperiam architecto commodi totam
            blanditiis autem voluptatum, omnis, nihil tempore impedit saepe eligendi temporibus? In, sequi saepe.
            Non hic laboriosam architecto?</p>
    </div>
</main>
</body>

</html>